.navi{
    font-size:20px;
    color:#2081b8;
    font-weight:bold;
    font-family:Î¢ÈíÑÅºÚ;
}



.naviLink{
    font-size:20px;
    color:#2081b8;
    font-weight:bold;
    font-family:Î¢ÈíÑÅºÚ;
    text-decoration:underline;
}

