.tr-header{
    height:30px;
    cursor: pointer;
}

.td-header{
	overflow:hidden;
	background:#fafafa url('../themes/default/images/datagrid_header_bg.gif') repeat-x left bottom;
	border-top:1px solid #ccc;
    border-right:1px dotted #ccc;
    border-bottom:1px solid #ccc;
    cursor:pointer ;
    text-align:center;
    vertical-align: middle;
}

.td-content{
	overflow:hidden;
    border-right:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
    text-align:center;
}

.td-content-left{
	overflow:hidden;
    border-right:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
}

.tr-pageControl{
    background:#fafafa url('../themes/default/images/datagrid_header_bg.gif') repeat-x left bottom;
    padding-top:2px;
    margin: 2px;
    border-top:1px solid #ccc;
    text-align:center;
}