<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>com.web.init.SysParameter</servlet-class>
        <init-param>
            <param-name>base</param-name>
            <param-value>D:\\apache-tomcat-6.0.18\\webapps\\eval</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
	
	<!-- struts2配置信息 start -->  
    <filter>  
        <filter-name>struts2</filter-name>  
        <filter-class>  
          org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter  
        </filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>struts2</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>
	
  	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  	<!-- struts2配置信息 end -->  
  	
  	<!-- spring配置信息 start -->  
  	<context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- <param-value>/WEB-INF/applicationContext.xml</param-value> -->
        <param-value>classpath:/applicationContext*.xml </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
  	<!-- spring配置信息 end --> 
  	
  	<!-- Hibernate配置信息 start --> 
  	
  	<!-- Hibernate配置信息 end --> 
  	
  	<!-- Log4j日志配置信息start -->
  	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:/log4j.properties</param-value>
	</context-param>
	
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
  	
  	
  	<!-- Log4j日志配置信息end -->
</web-app>
