<?xml version="1.0" encoding="GBK" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop                                        
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">
	
	<context:component-scan base-package="com.web" />
	
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths" value="/WEB-INF/mailTemplate/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1800</prop><!--刷新模板的周期，单位为秒-->
				<prop key="default_encoding">GBK</prop><!--模板的编码格式 -->
				<prop key="locale">zh_CN</prop>
			</props>
		</property>
	</bean>
	
	<!-- 定义受环境影响易变的变量 -->
	<!-- 如果不加下面的配置,那么在tomcat启动的过程中会报异常:java.lang.NumberFormatException: For input string: "${jdbc.maxActive}" -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

</beans>