<?xml version="1.0" encoding="GBK" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="loginAction" class="com.web.action.LoginAction" scope="request" />
	
	<bean id="menuInfoAction" class="com.web.action.MenuInfoAction" scope="request" />
	
	<bean id="roleInfoAction" class="com.web.action.RoleInfoAction" scope="request" />
	
	<bean id="userInfoAction" class="com.web.action.UserInfoAction" scope="request" />
	
</beans>