<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC     
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"     
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping resource="./UserInfo.hbm.xml" />
		<mapping resource="./RoleInfo.hbm.xml" />
		<mapping resource="./MenuInfo.hbm.xml" />
		<mapping resource="./MenuRoleRelation.hbm.xml" />
		<mapping resource="com/web/pojo/RoleUserRelation.hbm.xml" />

	</session-factory>
</hibernate-configuration>